{{#each products}}
<article class="product">
    <a href="/store/?product__name={{product__name}}">
        <img class="product__cover" src="{{product__imgCover}}" alt="Album cover">
        <img class="product__LP" src="{{product__imgLP}}" alt="Album LP">
        <section class="product__info">
            <h5>{{product__name}}</h5>
            <h2>{{product__artist}}</h2>
            <h6>{{product__price}}</h6>
        </section>
    </a>
</article>
{{/each}}