<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vnyl | {{product__name}}</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    <link rel="stylesheet" media="(max-width: 400px)" href="/styles/main.css">
    <link rel="stylesheet" media="(max-width: 800px)" href="/styles/main.css">
    <link rel="icon" href="/sources/images/products/{{product__artist}}/I.{{product__name}} - Cover.jpg">
</head>

<body>
    {{>menu--store}}
    
    {{>bag}}

    <section class="product">
        <div class="product-chunk__left">
            <div class="product__img">
                <img class="product__cover" src="{{product__imgCover}}" alt="{{product__name}} Cover">
                <img class="product__LP" src="{{product__imgLP}}" alt="{{product__name}} LP">
            </div>
            <iframe class="product__spotify" src="https://open.spotify.com/embed/album/{{product__spotify}}" width="350"
                height="80" frameborder="0" allowtransparency="true" allow="encrypted-media">
            </iframe>
        </div>

        <div class="product-chunk__right">
            <header class="product__header">
                <article class="product__text">
                    <h5>{{product__name}}</h5>
                    <h2>{{product__artist}}</h2>
                    <h6>{{product__price}}</h6>
                </article>
                <article class="product__button">
                    <button>Agregar al carrito</button>
                </article>
            </header>
            <article class="product__songs">
                <article class="product__songs-container">
                    {{#each product__songs}}
                    <h5>{{disc__number}}{{disc__name}}</h5>
                    <div class="product__song">
                        {{#each disc__songs}}
                        <div class="disc__song">
                            <div class="disc__feat">
                                <h6>{{disc__song__name}}</h6>
                                <p>{{disc__song__description}}</p>
                            </div>
                            <h6>{{disc__song__lenght}}</h6>
                        </div>
                        {{/each}}
                        <div class="disc__song">
                            <div class="disc__feat">
                                <h6>{{song__name}}</h6>
                                <p>{{song__description}}</p>
                            </div>
                            <h6>{{song__lenght}}</h6>
                        </div>
                    </div>
                    {{/each}}
                </article>
            </article>
        </div>
    </section>

    {{>footer--store}}
    
    <script type="text/javascript" src="/scripts/bag.js"></script>
</body>

</html>